
<div class="row">
    <div class="col-md-4 details">
        {{> form}}

    </div>
    <div class="col-md-8 screen">
        {{#newImage}}{{#image}} <h2>It looks like someone has already Tagur'd this image.<br/>You can add to it below!</h2> {{/image}}{{/newImage}}
        
        <h3 class="desktop">Click on the image to add tags</h3>
        <h3 class="mobile">Press-and-hold to add a tag
            <br/><small>(and tap on a tag to read it!)</small></h3>
        <div id="tagHelp"><span class="glyphicon glyphicon-question-sign"></span> I can't see the tags, where are they?</div>
        <div id="imageContainer">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        if (Modernizr.touch) {
            $('body').addClass('device');
        }
        var headerMsg = $('#headerMsg');
        $('#headerTag').hover(function(){headerMsg.show()}, function(){headerMsg.hide()});
        var imageContainer = $('#imageContainer');

        function loadTagur(imageJson, imageUrl) {
            $('#caption').hide();
            imageUrl = imageUrl || imageJson[0].src;

            var image = new Image();
            imageContainer.html('<img src="' + imageUrl + '" id="targetImage"/>');

            $(image).on('load', function() {

                var showShareLinks = function(id) {
                    var sharing = $('<div id="sharing"><b>Share: </b></div>');
                    var shareUrl = 'http://'+window.location.host + '/images/'+id;

                    /* Hook up the share buttons */
                    sharing.append($('<span title="Share this on Facebook!" class="shareFacebook" alt="Share this on Facebook!"></span>').click(function() {
                        FB.ui({
                            method: 'feed',
                            link: shareUrl
                        }, function(response) { /* Success */ });
                    }));
                    sharing.append($('<a href="" title="Share this on Twitter!" alt="Share this on Twitter!" class="shareTwitter"></a>').mouseover(function(e) { /* Update the twitter share link on hover so it's ready when they click */
                        $(this).attr('href','https://twitter.com/intent/tweet?url='+encodeURIComponent(shareUrl));
                        twttr.widgets.load(); /* Refresh the twitter share link, then reload the widget */
                        e.preventDefault();
                        return false;
                    }));
                    sharing.append($('<a href="" title="Share this on Google!" alt="Share this on Google!" class="shareGoogle"></a>').click(function(e) {
                        window.open('https://plus.google.com/share?url='+encodeURIComponent(shareUrl),
                                '',
                                'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');
                        e.preventDefault;
                        return false;
                    }));
                    sharing.append($('<a title="Permalink" alt="Permalink" href="'+shareUrl+'" class="shareLink"></a>'));
                    imageContainer.append(sharing);
                    showShareLinks = function() {}
                }

                var commentImage = Tagur.prepare({
                    id: 'targetImage',
                    onCommentAdded: function (comment) {
                        $.post('/images/', {
                            src: commentImage.src,
                            comment: comment.comment,
                            xP: comment.xP,
                            yP: comment.yP
                        }, function (data) {
                            showShareLinks(data._id)
                        });
                    }
                });

                if (imageJson.length > 0) {
                    showShareLinks(imageJson[0]._id);
                    var comments = imageJson[0].comments;
                    for (var i = 0; i < comments.length; i++) {
                        var comment = comments[i];
                        commentImage.addComment({
                            xP: comment.xP,
                            yP: comment.yP,
                            comment: comment.text
                        });
                    }
                }
            });
            image.src = imageUrl;
        }

        loadTagur(
            [{{#image}} {
                        _id: "{{id}}", src: "{{src}}", comments:[ {{#comments}} {
                            xP: {{xP}},
                            yP: {{yP}},
                            text: "{{text}}"
                        } {{^last}} , {{/last}} {{/comments}} ]
            } {{/image}}], '{{src}}');
        $('#caption').show();
        var screen = $('.screen');
        $('#tagHelp').hover(function() {
            screen.addClass('glow');
        }, function() {
            screen.removeClass('glow');
        });
    });
</script>